body {
  background-color: black;
  color: white;
}

.error {
  background-color: red;
}

.center {
  width: 90%;
  position: absolute;
  top: 170px;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-size: 50px;
}

.message {
  position: absolute;
  top: 70px;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-size: 30px;
}

.inner {
  width: max-content;
  margin: 0 auto;
}

.myProgress {
  position: absolute;
  left: 10%;
  width: 80%;
  background-color: grey;
}

#myBar {
  width: 0%;
  height: 30px;
  background-color: #04AA6D;
  text-align: center;
  line-height: 30px;
  color: white;
}

#phrase_en_input {
  font-size: 25px;
  width: 350px;
}
